{% extends "base.html" %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-6 column">
            <div class="panel-group" id="panel-923339">
                {% for user in users %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="panel-title"
                               onclick="javascript:graph({{ user.name }})"
                               data-toggle="collapse"
                               data-parent="#panel-923339"
                               href="#panel-element-{{ user.name }}">
                                {{ user.name }}
                            </a>
                        </div>
                        <div id="panel-element-{{ user.name }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>排名：{{ user.urank }}</p>
                                {% for k in user.keyword.split %}
                                    <a href="/search/{{ k }}/">{{ k }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 column">

            <div class="panel-group" id="panel-right" style="position: fixed; height:80%; width: 44%">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title">传播示意</a>

                        <div class="form-group">
                            <input id="ex1" data-slider-tooltip="" data-slider-id='ex1Slider'
                                   type="text" data-slider-min="0"
                                   data-slider-max="100" data-slider-step="1" data-slider-value="50"/>
                            <input id="ex2" data-slider-tooltip="" data-slider-id='ex1Slider' type="text"
                                   data-slider-min="0"
                                   data-slider-max="20" data-slider-step="1" data-slider-value="5"/>

                        </div>

                    </div>

                </div>

                <div class="panel panel-default" id="spreading" style="position:fixed; height:50%; width:44%;">

                </div>

            </div>
        </div>
    </div>

{% endblock %}